@model StudentDto

<h1 class="alert alert-warning text-center m-3">
   Add Student
</h1>

<form method="post" asp-controller="Student" asp-action="SaveEdit" class="col-6" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>


    <input type="hidden" asp-for="ImageUrl" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label">@Html.DisplayNameFor(cors => cors.Name)</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    

    <div class="mb-3">
        <label asp-for="Address" class="form-label">@Html.DisplayNameFor(cors => cors.Address)</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="Degree" class="form-label">@Html.DisplayNameFor(cors => cors.Degree)</label>
        <input asp-for="Degree" class="form-control" />
        <span asp-validation-for="Degree" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="CourseID">@Html.DisplayNameFor(cors => cors.CourseID)</label>
        <select asp-for="CourseID" class="form-control"
                asp-items="@(new SelectList(ViewData["Courses_list"] as List<Course>, "Id", "Name"))">
            <option value="0" selected> --Select Department-- </option>
        </select>
       
        
        <span asp-validation-for="CourseID" class="text-danger"></span>
    </div>



    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label"></label>
        <input type="file" asp-for="ImageFile" accept=".png,.jpg" class="form-control" />

    </div>


    <button type="submit" class="btn btn-primary">Add</button>

</form>